.button {
  border: none;
  color: #f2f4fe;
  font-family: inherit;
  font-weight: 700;
  font-size: 13px;
  padding: 12px 20px;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.purple {
  background-color: #ad1fea;
}

.purple:hover {
  background-color: #c75af6;
}

.buttonHeader {
  margin-bottom: 16px;
}

.buttonFeedbackEditor {
  margin: 10px 0;
  width: 100%;
}

.icon {
  width: 7px;
  margin-right: 4px;
}

@media screen and (min-width: 375px) {
  .buttonHeader {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 601px) {
  .button {
    font-size: 14px;
  }

  .buttonFeedbackEditor {
    width: auto;
  }

  .buttonFeedbackEditor:nth-child(3) {
    align-self: flex-start;
  }
}
