.button {
  border: none;
  color: #f2f4fe;
  font-family: inherit;
  font-weight: 700;
  font-size: 13px;
  padding: 12px 20px;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  grid-area: button;
}

.purple {
  background-color: #ad1fea;
}

.purple:hover {
  background-color: #c75af6;
}

.blue {
  background-color: #4661e6;
}

.blue:hover {
  background-color: #7c91f9;
}

.darkblue {
  background-color: #3a4374;
}

.darkblue:hover {
  background-color: #656ea3;
}

.red {
  background-color: #d73737;
}

.red:hover {
  background-color: #e98888;
}

.buttonHeader {
  margin-bottom: 16px;
}

.buttonFeedbackEditor {
  margin: 10px 0;
  width: 100%;
}

.demoMode {
  opacity: 0.6;
  pointer-events: none;
}

.icon {
  width: 7px;
  margin-right: 4px;
}

.btnDisabled {
  pointer-events: none;
  background-color: #a0a0a0;
}

.buttonReply {
  align-self: flex-start;
}

@media screen and (min-width: 375px) {
  .buttonHeader {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 601px) {
  .button {
    font-size: 14px;
  }

  .buttonFeedbackEditor {
    width: auto;
  }

  .buttonFeedbackEditor:nth-child(3) {
    align-self: flex-start;
  }
}
