.button {
  font-family: inherit;
  border: none;
  background: transparent;
  align-self: flex-start;
  font-size: 13px;
  font-weight: 700;
  color: #647196;
  display: flex;
  align-items: center;
  margin: 32px 0;
  transition: all 0.1s ease-in-out;
  color: #4661e6;
  grid-area: button;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (min-width: 601px) {
  .button {
    font-size: 14px;
  }

  .replyBtn {
    justify-self: center;
  }
}
