.container {
  background-color: #fff;
  width: 85%;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 223px;
  display: none;
}

.sidebar {
  display: block;
}

.list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.category {
  display: inline-block;
  background-color: #f2f4ff;
  border-radius: 10px;
  padding: 10px 16px;
  font-size: 13px;
  color: #4661e6;
  font-weight: 600;
  margin-bottom: 12px;
  transition: all 0.1s ease-in-out;
}

.category:hover {
  cursor: pointer;
  background-color: #cfd7ff;
}

.selected {
  color: #fff;
  background-color: #4661e6;
}

.selected:hover {
  color: #fff;
  background-color: #4661e6;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    display: block;
    max-width: 223px;
    flex: 1;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    min-width: 255px;
  }
}
