.commentAndReplyContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(140, 146, 179, 0.25);
}

.commentAndReplyContainer:last-child {
  border-bottom: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.commentsContainer {
  background-color: #fff;
  border-radius: 10px;
  width: 85%;
  padding: 24px;
  box-sizing: border-box;
}

.commentCounter {
  font-size: 18px;
  color: #3a4374;
  font-weight: 700;
  letter-spacing: -0.18px;
  margin-bottom: 24px;
}

.userCommentBox {
  border-bottom: 1px solid rgba(140, 146, 179, 0.25);
  padding-bottom: 24px;
  display: grid;
  grid-template-areas:
    "icon userInfo . button"
    "text text text text"
    "replyInput replyInput replyInput replyInput";
  align-items: center;
}

.userCommentBox:last-child {
  border-bottom: none;
  padding-bottom: 12px;
}

.userInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: userInfo;
  justify-self: start;
  margin-left: 12px;
}

.userInfoText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.userIcon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  grid-area: icon;
  justify-self: start;
  grid-area: icon;
}

.userInfoName {
  font-size: 13px;
  letter-spacing: -0.18px;
  color: #3a4374;
  font-weight: 700;
  line-height: 1.5;
}

.username {
  font-size: 13px;
  color: #647196;
  line-height: 1.5;
}

.commentText {
  font-size: 13px;
  color: #647196;
  width: 95%;
  grid-area: text;
  line-height: 1.5;
  grid-area: text;
}

.commentWithReplies {
  border-bottom: none;
  padding-bottom: 24px;
  display: grid;
  grid-template-areas:
    "icon userInfo . button"
    "text text text text"
    "replyInput replyInput replyInput replyInput"
    "replyContainer replyContainer replyContainer replyContainer";
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.addCommentContainer {
  background-color: #fff;
  border-radius: 10px;
  width: 85%;
  margin-bottom: 32px;
  padding: 24px;
  box-sizing: border-box;
}

.inputTitle {
  font-size: 18px;
  color: #3a4374;
  letter-spacing: -0.25px;
  padding-bottom: 16px;
  font-weight: 700;
}

.textInput {
  border: none;
  background-color: #f7f8fd;
  border-radius: 5px;
  font-size: 13px;
  font-family: inherit;
  outline: none;
  padding: 14px;
  width: 100%;
  box-sizing: border-box;
  color: #3a4374;
  resize: none;
  padding-bottom: 16px;
  border: 1px solid transparent;
  transition: all 0.1s ease-in-out;
}

.textInput:focus {
  border: 1px solid #4661e6;
}

.replyInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: replyInput;
}

.fieldEmpty {
  width: 100%;
}

.fieldEmpty .textInput {
  border: 1px solid #d73737;
  padding-bottom: 4px;
}

.fieldEmpty .messageSpan {
  display: inline-block;
  margin-bottom: 16px;
  align-self: flex-start;
}

.fieldEmpty .messageSpan::after {
  content: "Can't be empty";
  color: #d73737;
  font-size: 14px;
}

.charCounter {
  font-size: 13px;
  color: #647196;
  padding-bottom: 24px;
}

.replyInputBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
  align-self: stretch;
}

.replyInputBox textarea {
  font-size: 13px;
}

@media screen and (min-width: 375px) {
  .charCounter {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 601px) {
  .userCommentBox,
  .userReplyBox {
    grid-template-areas:
      "icon userInfo userInfo . . button"
      ". text text text text text"
      ". text text text text text"
      ". replyInput replyInput replyInput replyInput .";
    grid-template-columns: repeat(6, 1fr);
  }

  .commentWithReplies {
    grid-template-areas:
      "icon userInfo userInfo . . button"
      "border text text text text text"
      "border text text text text text"
      ". replyInput replyInput replyInput replyInput ."
      "replyContainer replyContainer replyContainer replyContainer replyContainer replyContainer";
    grid-template-columns: repeat(6, 1fr);
  }

  .commentWithReplies .commentText {
    box-sizing: border-box;
  }

  .commentWithReplies .borderSpan {
    border-left: 1px solid rgba(100, 113, 150, 0.1);
    grid-area: border;
    height: 100%;
    width: 100%;
    margin-left: 36px;
  }

  .commentWithReplies .replyInputContainer {
    box-sizing: border-box;
  }

  .userIcon {
    justify-self: center;
  }

  .userInfoContainer {
    margin-left: 0;
  }

  .userInfoName {
    font-size: 14px;
    letter-spacing: -0.19px;
  }

  .username {
    font-size: 14px;
  }

  .commentText {
    font-size: 15px;
  }

  .charCounter {
    font-size: 15px;
  }

  .textInput {
    font-size: 15px;
  }

  .replyInputContainer {
    max-width: 100%;
  }

  .replyInputBox {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 730px;
  }
}
