.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.commentsContainer {
  background-color: #fff;
  border-radius: 10px;
  width: 85%;
  padding: 24px;
  box-sizing: border-box;
}

.commentCounter {
  font-size: 18px;
  color: #3a4374;
  font-weight: 700;
  letter-spacing: -0.18px;
  margin-bottom: 24px;
}

.addCommentContainer {
  background-color: #fff;
  border-radius: 10px;
  width: 85%;
  margin-bottom: 32px;
  padding: 24px;
  box-sizing: border-box;
}

.inputTitle {
  font-size: 18px;
  color: #3a4374;
  letter-spacing: -0.25px;
  margin-bottom: 16px;
  font-weight: 700;
}

.textInput {
  border: none;
  background-color: #f7f8fd;
  border-radius: 5px;
  font-size: 13px;
  font-family: inherit;
  outline: none;
  padding: 14px;
  width: 100%;
  box-sizing: border-box;
  color: #3a4374;
  resize: none;
  margin-bottom: 16px;
  border: 1px solid transparent;
  transition: all 0.1s ease-in-out;
}

.textInput:focus {
  border: 1px solid #4661e6;
}

.fieldEmpty .textInput {
  border: 1px solid #d73737;
  margin-bottom: 4px;
}

.fieldEmpty .messageSpan::after {
  content: "Can't be empty";
  color: #d73737;
  font-size: 14px;
}

.fieldEmpty .options {
  margin-top: 18px;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.charCounter {
  font-size: 13px;
  color: #647196;
  margin-bottom: 24px;
}

.errorMessage {
  font-weight: 700;
  margin-top: 16px;
}

@media screen and (min-width: 375px) {
  .options {
    flex-direction: row;
  }

  .charCounter {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 730px;
  }
}
