.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.commentsContainer {
  background-color: #fff;
  border-radius: 10px;
  width: 85%;
  padding: 24px;
  box-sizing: border-box;
}

.commentCounter {
  font-size: 18px;
  color: #3a4374;
  font-weight: 700;
  letter-spacing: -0.18px;
  margin-bottom: 24px;
}

.userCommentBox {
  border-bottom: 1px solid rgba(140, 146, 179, 0.25);
  padding-bottom: 24px;
  display: grid;
  grid-template-areas:
    "icon userInfo . button"
    "text text text text";
  align-items: center;
}

.userCommentBox:last-child {
  border-bottom: none;
  padding-bottom: 12px;
}

.userInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: userInfo;
  justify-self: start;
  margin-left: 12px;
}

.userInfoText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.userIcon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  grid-area: icon;
  justify-self: start;
}

.userInfoName {
  font-size: 13px;
  letter-spacing: -0.18px;
  color: #3a4374;
  font-weight: 700;
  line-height: 1.5;
}

.username {
  font-size: 13px;
  color: #647196;
  line-height: 1.5;
}

.commentText {
  font-size: 13px;
  color: #647196;
  width: 95%;
  grid-area: text;
}

.userReplyBox {
  padding-left: 24px;
  border-left: 1px solid rgba(100, 113, 150, 0.1);
  border-bottom: none;
  display: grid;
  grid-template-areas:
    "icon userInfo . button"
    "text text text text";
  align-items: center;
}

.addCommentContainer {
  background-color: #fff;
  border-radius: 10px;
  width: 85%;
  margin-bottom: 32px;
  padding: 24px;
  box-sizing: border-box;
}

.inputTitle {
  font-size: 18px;
  color: #3a4374;
  letter-spacing: -0.25px;
  margin-bottom: 16px;
  font-weight: 700;
}

.textInput {
  border: none;
  background-color: #f7f8fd;
  border-radius: 5px;
  font-size: 13px;
  font-family: inherit;
  outline: none;
  padding: 14px;
  width: 100%;
  box-sizing: border-box;
  color: #3a4374;
  resize: none;
  margin-bottom: 16px;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.charCounter {
  font-size: 13px;
  color: #647196;
  margin-bottom: 24px;
}

@media screen and (min-width: 375px) {
  .options {
    flex-direction: row;
  }

  .charCounter {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 601px) {
  .userCommentBox,
  .userReplyBox {
    grid-template-areas:
      "icon . . userInfo . button"
      ". . . text text text"
      ". . . text text text";
  }

  .userIcon {
    margin-right: 32px;
  }

  .userInfoContainer {
    margin-left: 0;
  }

  .userInfoName {
    font-size: 14px;
    letter-spacing: -0.19px;
  }

  .username {
    font-size: 14px;
  }

  .commentText {
    font-size: 15px;
  }

  .charCounter {
    font-size: 15px;
  }

  .textInput {
    font-size: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 730px;
  }
}
