.container {
  background-color: #fff;
  width: 85%;
  border-radius: 10px;
  padding: 24px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "main-text main-text"
    "upvotes comments";
  align-items: center;
}

.title {
  font-size: 13px;
  letter-spacing: -0.18px;
  margin-bottom: 8px;
  font-weight: 700;
}

.description {
  color: #647196;
  font-size: 13px;
  margin-bottom: 8px;
}

.category {
  display: inline-block;
  background-color: #f2f4ff;
  border-radius: 10px;
  padding: 10px 16px;
  font-size: 13px;
  color: #4661e6;
  font-weight: 600;
  margin-bottom: 12px;
}

.textContainer {
  grid-area: main-text;
  justify-self: stretch;
}

.upvoteContainer {
  background-color: #f2f4fe;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 6px 14px;
  grid-area: upvotes;
  justify-self: start;
}

.commentContainer {
  display: flex;
  align-items: center;
  grid-area: comments;
  justify-self: end;
}

.counter {
  font-size: 13px;
  margin-left: 8px;
  letter-spacing: -0.18px;
}

.arrow {
  width: 8px;
}

.comment {
  width: 18px;
}

.cardRoadmapInfo {
  font-size: 13px;
  color: #647196;
  margin-bottom: 16px;
}

.cardRoadmapInfoSpan {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 8px;
  display: inline-block;
}

.cardRoadmapInfoSpan::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: inherit;
}

@media screen and (min-width: 601px) {
  .container {
    grid-template-areas:
      "upvotes main-text comments"
      ". main-text comments"
      ". main-text comments";
    padding: 32px 24px;
  }

  .category {
    margin-bottom: 0;
  }

  .upvoteContainer {
    flex-direction: column;
    padding: 12px 8px;
    align-items: center;
    gap: 8px;
  }

  .counter {
    font-size: 16px;
    margin-left: 8px;
    letter-spacing: -0.22px;
  }

  .upvotes {
    margin-left: 0;
    font-size: 13px;
    letter-spacing: -0.18px;
  }

  .title {
    font-size: 18px;
    letter-spacing: -0.25px;
  }

  .description {
    font-size: 16px;
  }

  .textContainer {
    padding: 0 24px;
  }
}
