.container {
  box-sizing: border-box;
  background-color: #373f68;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  width: 100%;
}

.textContainer {
  display: flex;
  align-items: center;
}

.filterName {
  font-size: 13px;
  color: #f2f4fe;
  font-weight: 700;
}

.textTitle {
  color: #f2f4fe;
  margin-right: 4px;
  font-size: 13px;
}

.arrow {
  width: 8px;
  margin-left: 8px;
  cursor: pointer;
}

.mainTitleBox {
  display: none;
}

.filterMenu {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 18px;
}

.filterMenu ul {
  position: absolute;
  width: 255px;
  background-color: #fff;
  z-index: 3;
  border-radius: 10px;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  top: 48px;
  left: -120%;
}

.filterItem {
  padding: 20px 18px;
  white-space: nowrap;
  border-bottom: 1px solid rgba(58, 67, 116, 0.15);
  font-size: 16px;
  color: #647196;
}

.filterItem:last-child {
  border-bottom: none;
}

.filterItem:hover {
  color: #ad1fea;
  cursor: pointer;
}

.selectedFilter {
  color: #ad1fea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectedFilter::after {
  content: "";
  background-image: url("../assets/shared/icon-check.svg");
  height: 11px;
  width: 13px;
  display: inline-block;
}

@media screen and (min-width: 375px) {
  .container {
    flex-direction: row;
  }

  .filterMenu ul {
    left: -80%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 85%;
    border-radius: 10px;
  }

  .mainTitleBox {
    display: flex;
    align-items: center;
  }

  .icon {
    margin-right: 16px;
  }

  .mainTitle {
    font-size: 18px;
    letter-spacing: -0.25px;
    color: #fff;
    font-weight: 700;
    margin-right: 24px;
  }

  .filterName {
    font-size: 14px;
  }

  .textTitle {
    font-size: 14px;
  }

  .textContainer {
    margin-right: 32px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 100%;
  }
}
