.container {
  box-sizing: border-box;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
}

.title {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.19px;
}

.subtitle {
  color: #fff;
  font-size: 13px;
  opacity: 0.75;
}

.icon {
  max-width: 20px;
}

.icon:hover {
  cursor: pointer;
}
