.container {
  background-color: #fff;
  width: 85%;
  border-radius: 10px;
  padding: 100px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 18px;
  letter-spacing: -0.25px;
  color: #3a4374;
  margin: 32px auto 18px;
}

.description {
  font-size: 13px;
  color: #647196;
  margin-bottom: 32px;
}

@media screen and (min-width: 601px) {
  .title {
    font-size: 24px;
    letter-spacing: -0.33px;
    margin: 64px auto 32px;
  }

  .description {
    font-size: 16px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}