.topNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #373f68;
  padding: 24px 16px;
  box-sizing: border-box;
}

.navText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitle {
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.25px;
}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(140, 146, 179, 0.25);
  font-size: 13px;
  color: rgba(58, 67, 116, 0.4);
  font-weight: 700;
  padding: 18px 0;
  letter-spacing: -0.18px;
  position: relative;
}

.mainNavItem {
  flex: 1;
  text-align: center;
}

.selected {
  color: #3a4374;
}

.selectionBar {
  position: absolute;
  height: 4px;
  width: 33.33%;
  bottom: 0;
  transition: all 0.1s ease-in-out;
}

.positionOne {
  background-color: #f49f85;
  left: 0;
}

.positionTwo {
  background-color: #ad1fea;
  left: 33.33%;
}

.positionThree {
  background-color: #62bcfa;
  left: 66.66%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  gap: 16px;
}

.infoText {
  align-self: flex-start;
  margin-left: 8%;
}

.largeTitle {
  font-size: 18px;
  letter-spacing: -0.25px;
  font-weight: 700;
}

.description {
  font-size: 13px;
  color: #647196;
}

@media screen and (min-width: 601px) {
  .mainNav {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topNav {
    width: 85%;
    margin: 32px 0;
    border-radius: 10px;
  }

  .mainTitle {
    margin-top: 8px;
    font-size: 24px;
    letter-spacing: -0.33px;
  }

  .mainNav {
    display: none;
  }

  .mainNavItem {
    flex: 1;
    text-align: center;
  }

  .selected {
    color: #3a4374;
  }

  .selectionBar {
    position: absolute;
    height: 4px;
    width: 33.33%;
    bottom: 0;
    transition: all 0.1s ease-in-out;
  }

  .positionOne {
    background-color: #f49f85;
    left: 0;
  }

  .positionTwo {
    background-color: #ad1fea;
    left: 33.33%;
  }

  .positionThree {
    background-color: #62bcfa;
    left: 66.66%;
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    gap: 16px;
  }

  .infoText {
    align-self: flex-start;
    margin-left: 8%;
  }

  .largeTitle {
    font-size: 18px;
    letter-spacing: -0.25px;
    font-weight: 700;
  }

  .description {
    font-size: 13px;
    color: #647196;
  }
}
